/* App.css */

/* Default light mode styles */
.App {
  background-color: #ffffff;
  color: #000000;
}

.App-header {
  background-color: #f8f9fa;
}

.table {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #ffffff;
}

.dark-mode .App-header {
  background-color: #333;
}

.dark-mode .table {
  background-color: #2b2b2b;
  color: #ffffff;
}

.dark-mode .table thead {
  background-color: #333;
}

.dark-mode .table tbody {
  background-color: #333;
}

